/* general predisposition */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
header{
 height: 150px;
}

/* main */
.contaire::after{
  content: "";
  display: table;
  clear: both;
}

/* columns */
.column-sx{
  width: 30%;
  float: left;
}

.column-ce{
  width: 40%;
  float: left;
}

.column-dx{
  width: 30%;
  float: right;
}

/* footer */
footer{
 height: 150px;
}
